
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    /* HLAVNÍ LAYOUT */
    .container {
      display: flex;
      min-height: 100vh;
    }

    /* SIDEBAR */
    .sidebar {
      width: 220px;
      background: #c67b45;
      color: white;
      padding: 20px;
    }
    .svist_photo{
      width: 500px;
    }
    .obrazekxd{
      width: 700px;
    }

    .nav-button {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      background: #b56a35;
      border: none;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .nav-button:hover {
      background: rgba(1, 1, 1, 0.667);
    }

    .nav-icon {
      width: 24px;
      height: 24px;
    }

    /* OBSAH VPRAVO */
    .content {
      flex: 1;
      padding: 30px;
    }

    /* 2 SLOUPCE */
    .text-columns {
      display: flex;
      gap: 40px;
    }

    .text-column {
      flex: 1;
    }
    .text{
      text-align: center;
      margin: 50px;
    }
    .text2{
      text-align: center;
      margin: 50px;
    }
    .nadpis{
      text-align: center;
      margin: 60;
    }
    .nadpis2{
      text-align: center;
      margin: 60;
    }
    .obrazekxd{
      display: block;
      width: 90px;
      margin: 0 auto;
    }
    .info{
      background-color: #b56a35;
      text-align: center;
      color: white;
    }


    .text-column h1 {
      margin-top: 0;
    }

    /* RESPONSIVE */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }

      .sidebar {
        width: 100%;
      }

      .text-columns {
        flex-direction: column;
      }
    }
 